*{
    margin:0;
    padding:0;
}
#login-reg-body{
    width:200px;
    height:200px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-100px;
    background-color: #6f89a0;
    border-radius: 5%;
}
#login-content{
    position:absolute;
    top: 50%;
    left:50%;
    margin-top:-70px;
    margin-left:-81px;
}
#login-input-username input{
    width:155px;
    height:20px;
}
#login-input-password input{
    width:155px;
    height:20px;
}
#login-button button{
    width:50px;
    height:20px;
    left:109px;
    top:100px;
    position:absolute;
    font-size: 12px;
}
#reg-trans{
    width:50px;
    height:20px;
    top:128px;
    left:20px;
    bottom: 0;
    position:absolute;
}