#person-info{
    position:relative;
    margin:auto;
}
#title{
    text-align:center;
    border:1px black solid;
    height:30px;
    line-height:30px;
}

#resume-0{
    width:953px;
    height:1215px;
}

#resume-1{
    width:953px;
    height:644px;
}

#download-resume{
    position:absolute;
    top:60px;
    right:15%;
    z-index: 9;
    background-color: #805059;
    border-radius: 5%;

}