<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azr.pro</title>
    <link href="/static/css/global_nav_footer.css" rel="stylesheet">
    <link href="/static/css/anonymous.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/user_info.js"></script>
    <script src="/static/js/side_menu.js"></script>
    <script src="/static/js/anonymous.js"></script>

</head>
<body>
<nav id="top-nav">
    <div id="top-nav-bar">
        <div id="top-nav-bar-left-1" class="top-nav-bar-left">
            <div><img src="/static/defaultImg/azricon.png" id="icon1"></div>
        </div>
        <div id="top-nav-bar-left-2" class="top-nav-bar-left">
            <div><a href="/">Azr.pro</a></div>
        </div>
        <div id="top-nav-bar-left-3" class="top-nav-bar-left">
            <div>
                <a href="/home/">主页</a>
            </div>
        </div>

        <div id="top-nav-bar-left-4" class="top-nav-bar-left">
            <div><a href="/user/">用户</a></div>
        </div>

        <div id="top-nav-bar-left-5" class="top-nav-bar-left nav-active">
            <div>
                <p>匿名留言板</p>
            </div>
        </div>

        <div id="top-nav-bar-right-1" class="top-nav-bar-right">
            <div><a href="/login/">请登录</a></div>
        </div>
        <div id="top-nav-bar-right-2" class="top-nav-bar-right">
            <div id="avater">
                <img src="#" alt="">
            </div>
        </div>
    </div>
</nav>

<div class="main-info">
    <div class="side-menu">
        <div class="side-menu-info-body">
            <img id="side-avater" src="/static/defaultImg/default_avater.png">
            <br>
            <h4>用户名:</h4>
            <p id="side-menu-username">我是一只鸽</p><br>
            <h4>邮箱:</h4>
            <p id="side-menu-email">gugu@qq.com</p><br>
            <h4>签名:</h4>
            <p id="side-menu-sign">咕咕咕咕咕咕</p>
        </div>

    </div>
    <div class="anonymous-info">
        <h2>匿名留言板</h2>
        <hr>
        <div id="anonymous-info-wrap">
            <div id="message-body">
                <div id="message-href">
                    <a href="#" id="an_total_msg" class="an_titles">请登录查看帖子</a>
                </div>
                <div id="message-button" class="message-button">
                    <button>删除帖子</button>
                </div>
                <div id="message-time">
                    <p class="message-time">2020/4/20</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div id="anonymous-publish">
    <div id="anonymous-wrap">
        <div id="msg-title-wrap">
            <span id="anonymous-title-text">标题</span>
            <br>
            <input type="text" id="anonymous-title">
        </div>
        <br>
        <div id="msg-body-wrap">
            <span id="anonymous-msg-text">内容</span>
            <br>
            <textarea type="text" id="anonymous-msg"></textarea>
        </div>
        <div id="msg-button-wrap">
            <button id="publish-confirm">发布</button>
            <p id="publish-warn"></p>
        </div>
    </div>
</div>


<div class="footer-long">
    <div class="inner">
        <hr>
        <p>网站制作者:<a href="https://github.com/bokunopica/">pyca</a>,他的<a href="/resume/">个人简历</a>.</p>
    </div>
</div>

</body>
</html>