<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azr.pro</title>
    <link href="../static/css/global_nav_footer.css" rel="stylesheet">
    <link href="../static/css/user.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script src="../static/js/user_info.js"></script>
    <script src="../static/js/scroll_side_menu.js"></script>
    <script src="../static/js/anoymous.js"></script>

</head>
<body>
<nav id="top-nav">
    <div id="top-nav-bar">
        <div id="top-nav-bar-left-1" class="top-nav-bar-left">
            <div><img src="../static/defaultImg/azricon.png" id="icon1"></div>
        </div>
        <div id="top-nav-bar-left-2" class="top-nav-bar-left">
            <div><a href="/">Azr.pro</a></div>
        </div>
        <div id="top-nav-bar-left-3" class="top-nav-bar-left">
            <div>
                <a href="/home/">主页</a>
            </div>
        </div>
        <div id="top-nav-bar-left-4" class="top-nav-bar-left">
            <div><a href="/user/">用户</a></div>
        </div>
        <div id="top-nav-bar-left-5" class="top-nav-bar-left nav-active">
            <div><p>匿名留言板</p></div>
        </div>

        <div id="top-nav-bar-right-1" class="top-nav-bar-right">
            <div><a href="/login/">请登录</a></div>
        </div>
        <div id="top-nav-bar-right-2" class="top-nav-bar-right">
            <div id="avater">
                <img src="#" alt="">
            </div>
        </div>
    </div>
</nav>

<div class="main-info">
    <div class="side-menu">
        <div class="side-menu-info-body">
            <img id="side-avater" src="../static/defaultImg/default_avater.png">
            <br>
            <h4>用户名:</h4>
            <p id="side-menu-username">我是一只鸽</p><br>
            <h4>邮箱:</h4>
            <p id="side-menu-email">gugu@qq.com</p><br>
            <h4>签名:</h4>
            <p id="side-menu-sign">咕咕咕咕咕咕</p>
        </div>

    </div>
    <div class="user-info">
        <h2>本站用户</h2>
        <div id="user-info-wrap">
            <div class="user-info-body">
                <div class="uib-avater" id="uib-float">
                    <img src="../static/defaultImg/default_avater.png">
                </div>
                <div class="uib-info" id="uib-float">
                    <div class="uib-name">
                        <h4>用户名</h4>
                        <p>登录查看其它用户</p>
                    </div>
                    <div class="uib-sign">
                        <h4>签名</h4>
                        <p>登录查看其它用户</p>
                    </div>
                </div>
                <div class="uib-admin">
                    <button id="delete-user">删除用户</button>
                    <button id="upgrade-clan-user">提升为战队成员</button>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="footer-long">
    <div class="inner">
        <hr>
        <p>网站制作者:<a href="https://github.com/bokunopica/">pyca</a>,他的<a href="/resume/">个人简历</a>.</p>
    </div>
</div>

</body>
</html>