<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azr.pro</title>
    <link href="../static/css/innerContent.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script src="../static/js/user_info.js"></script>
</head>
<body>
<nav id="top-nav">
    <div id="top-nav-bar">
        <div id="top-nav-bar-left-1" class="top-nav-bar-left">
            <div><img src="../static/img/azricon.png" id="icon1"></div>
        </div>
        <div id="top-nav-bar-left-2" class="top-nav-bar-left">
            <div><a href="/">Azr.pro</a></div>
        </div>
        <div id="top-nav-bar-left-3" class="top-nav-bar-left nav-active">
            <div>
                <p>home</p>
            </div>
        </div>
        <div id="top-nav-bar-left-4" class="top-nav-bar-left">
            <div><a href="/user/">user</a></div>
        </div>

        <div id="top-nav-bar-right-1" class="top-nav-bar-right">
            <div><a href="/login/">请登录</a></div>
        </div>
        <div id="top-nav-bar-right-2" class="top-nav-bar-right">
            <div id="avater">
                <img src="#" alt="">
            </div>
        </div>
    </div>
</nav>

<div class="main-info">
    <div class="clan-info">
        <div class="clan-video">
            <iframe src="http://player.bilibili.com/player.html?aid=15599620&bvid=BV1Ux411M7mT&cid=25381648&page=1&danmaku=0"
                    allowfullscreen="allowfullscreen" scrolling="no" frameborder="0" width="800" height="500"
                    sandbox="allow-same-origin allow-forms allow-scripts"></iframe>
        </div>
        <div class="clan-message">
            <p>这是战队介绍</p>
        </div>
        <div class="clan-user">
            <div class="clan-user-one">
                <p>name</p>
                <p>sign</p>
                <img src="../static/img/default_avater.png" alt="">
            </div>
            <div class="clan-user-one">
                <p>name</p>
                <p>sign</p>
                <img src="../static/img/default_avater.png" alt="">
            </div>
            <div class="clan-user-one">
                <p>name</p>
                <p>sign</p>
                <img src="../static/img/default_avater.png" alt="">
            </div>
        </div>
    </div>

    <div class="footer-long">
        <div class="inner">
          <hr>
          <p>made by <a href="https://github.com/bokunopica/">pyca</a>,more info about <a href="/resume/">him</a>.</p>
        </div>
    </div>
</div>




</body>
</html>