<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azr.pro</title>
    <link href="../static/css/innerContent.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script src="../static/js/user_info.js"></script>
</head>
<body>
<nav id="top-nav">
    <div id="top-nav-bar">
        <div id="top-nav-bar-left-1" class="top-nav-bar-left">
            <div><img src="../static/img/azricon.png" id="icon1"></div>
        </div>
        <div id="top-nav-bar-left-2" class="top-nav-bar-left">
            <div><a href="#">Azr.pro</a></div>
        </div>
        <div id="top-nav-bar-left-3" class="top-nav-bar-left nav-active">
            <div><a href="#">home</a></div>
        </div>
        <div id="top-nav-bar-left-4" class="top-nav-bar-left">
            <div><a href="#">user</a></div>
        </div>

        <div id="top-nav-bar-right-1" class="top-nav-bar-right">
            <div><a href="/login/">请登录</a></div>
        </div>
        <div id="top-nav-bar-right-2" class="top-nav-bar-right">
            <div id="avater">
                <img src="#" alt="">
            </div>
        </div>
    </div>
</nav>

<div class="main-info">
    这是主要内容
</div>

<div class="footer">
    这是footer
</div>


</body>
</html>