<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/personal_info.css">
    <link rel="stylesheet" href="../static/css/global_nav_footer.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script src="../static/js/user_info.js"></script>
</head>
<body>
<nav id="top-nav">
    <div id="top-nav-bar">
        <div id="top-nav-bar-left-1" class="top-nav-bar-left">
            <div><img src="../static/defaultImg/azricon.png" id="icon1"></div>
        </div>
        <div id="top-nav-bar-left-2" class="top-nav-bar-left">
            <div><a href="/">Azr.pro</a></div>
        </div>
        <div id="top-nav-bar-left-3" class="top-nav-bar-left">
            <div><a href="/home/">主页</a></div>
        </div>
        <div id="top-nav-bar-left-4" class="top-nav-bar-left">
            <div><a href="/user/">用户</a></div>
        </div>

        <div id="top-nav-bar-left-5" class="top-nav-bar-left">
            <div>
                <a href="#">匿名留言板</a>
            </div>
        </div>

        <div id="top-nav-bar-right-1" class="top-nav-bar-right">
            <div><a href="/login/">请登录</a></div>
        </div>
        <div id="top-nav-bar-right-2" class="top-nav-bar-right">
            <div id="avater">
                <img src="#" alt="">
            </div>
        </div>
    </div>
</nav>



<div id="person-info">
    <div id="title">个人简历</div>
    <div id="basic">
        <div class="b_title">姓名</div>
        <div class="b_value">钱乾</div>
        <div class="b_title">籍贯</div>
        <div class="b_value">籍贯</div>
        <div class="b_title">学历</div>
        <div class="b_value">本科</div>
        <div class="b_title">工作年限</div>
        <div class="b_value">1年</div>
        <div class="b_title">电话</div>
        <div class="b_value">18512199720</div>
        <div class="b_title">求职意向</div>
        <div class="b_value">Python开发工程师</div>
        <div class="b_title">邮箱</div>
        <div class="b_value">comehome@foxmail.com</div>
        <div class="b_title">联系地址</div>
        <div class="b_value">上海市嘉定区</div>
    </div>
    <div id="photo">
        <img src="/static/defaultImg/personal_avater.jpg" style="width:100%;height: 100%">
    </div>
    <div id="skill">
        <div id="skill-title">个人技能</div>
        <div id="skill-content">
            Python语言<br>
            Linux操作<br>
            Xshell/Xftp<br>
            Django和DjangoRestFramework<br>
            Flask和Flask-restful<br>
            Django模板语言与Flask-Jinjia模板语言<br>
            Html5+css+Javascript+Jquery<br>
            了解restful代码设计风格<br>
            NginX+uwsgi部署django应用<br>
            redis/celery,并可以将其应用在django缓存/异步操作当中;<br>
            mysql/mongodb<br>
            postman接口测试工具;<br>
            数据分析<br>
        </div>
    </div>
    <div id="work-experience">
        <div id="we-title">工作履历</div>
        <div id="we-content">
            2019.2– 2020.2  上海鸿网电子商务有限公司、化塑汇（1年)  数据分析师<br>
            工作描述：<br>
            1.与风控/业务以及采购部门进行沟通,确定数据分析需求;<br>
            2.搭建业务部门需求的销售数据统计监控表;<br>
            3.搭建风控部门需求的风险客户模型,和风险数据统计监控表;<br>
            4.与各部门协调合作，保证开发进度；<br>
        </div>
    </div>
    <div id="project">
        <div id="project-title">项目经验</div>
        <div id="project-content">
            项目一名称：鸿网后台管理系统（mgt.myhwdz.com，2019.02-2020.02）<br>
            项目描述：<br>
            该项目主要是给公司内部员工使用的一个ERP系统，为上海鸿网所有员工提供方便工作的一个系统<br>
            负责模块：<br>
            负责数据监控模块的报表开发。<br>
            职责描述：<br>
            1. 分析各部门需求,参加需求讲解会议<br>
            2. 分析公司数据库结构,从中提取数据并清洗;<br>
            3. 应用PowerBI将清洗过后的数据转化为数据可视化报表;<br>
            4. 与前端合作将可视化报表放置在数据监控页面上;<br>
            5. 与各部门沟通,保证项目顺利验收<br>
            项目二名称：风险客户模型 （2019.09）<br>
            项目描述：<br>
            公司主要业务模式是赊销卖货,故在业务过程中会出现很多逾期以及坏账的现象,由于该现象对于公司的财务会增加巨大压力,故搭建风险客户模型,将容易产生逾期/坏账行为的公司打上标记,降低公司的风险.<br>
            职责描述：<br>
            1. 与风控部门沟通需求<br>
            2. 拟定搭建模型的方法,与风控部门讨论参数选择<br>
            3. 利用sql语句提取公司数据库数据,并利用python的pandas模块进行数据清洗<br>
            4. 将数据分为测试集和训练集,通过训练集拟合模型,最后通过测试集检测准确率<br>
            5. 准确率达标后提交模型给风控部门<br>
        </div>
    </div>
</div>



</body>
</html>