<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azr.pro</title>
    <link href="../static/css/innerContent.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script src="../static/js/user_info.js"></script>
</head>
<body>
<nav id="top-nav">
    <div id="top-nav-bar">
        <div id="top-nav-bar-left-1" class="top-nav-bar-left">
            <div><img src="../static/img/azricon.png" id="icon1"></div>
        </div>
        <div id="top-nav-bar-left-2" class="top-nav-bar-left">
            <div><a href="/">Azr.pro</a></div>
        </div>
        <div id="top-nav-bar-left-3" class="top-nav-bar-left">
            <div><a href="/home/">主页</a></div>
        </div>
        <div id="top-nav-bar-left-4" class="top-nav-bar-left nav-active">
            <div>
                <p>用户</p>
            </div>
        </div>

        <div id="top-nav-bar-right-1" class="top-nav-bar-right">
            <div><a href="/login/">请登录</a></div>
        </div>
        <div id="top-nav-bar-right-2" class="top-nav-bar-right">
            <div id="avater">
                <img src="#" alt="">
            </div>
        </div>
    </div>
</nav>




<div class="main-info">
    <div class="side-menu">
        <a href="#info">个人信息</a>
        <hr>
        <a href="#password">密码</a>
        <hr>
        <a href="#emailcheck">邮箱验证</a>
        <hr>
        <a href="#avater">头像</a>
        <hr>
        <a href="#sign">签名</a>
        <hr>
    </div>
    <div class="user-info">
        <div id="info">
            <div class="user-info-title"><span>个人信息</span></div>
            <div class="user-info-body">
                <p>用户名:</p>
                <p>邮箱:</p>
                <p>头像:</p>
                <p>签名:</p>

            </div>
        </div>
        <div id="password">
            <div class="user-info-title"><span>密码</span></div>
            <div class="user-info-body">
                <span>旧密码</span><input type="password" name="old_password"><br>
                <span>新密码</span><input type="password" name="new_password"><br>
                <span>新密码确认</span><input type="password" name="new_password_check"><br>
                <button>修改密码</button>
            </div>
        </div>
        <div id="email">
            <div class="user-info-title"><span>邮箱</span></div>
            <div class="user-info-body">
                <span>您的邮箱:</span><br>
                <span>邮箱验证码</span><input type="text" name="email_check">
                <button>发送验证码</button>
                <br>
                <button>确认验证码</button>
            </div>
        </div>
        <div id="avater">
            <div class="user-info-title"><span>头像</span></div>
            <div class="user-info-body">
                <span>您的头像:</span><br>
                <span>上传头像</span><input type="file" name="avater_upload"><br>
                <button>确认修改</button>
            </div>
        </div>
        <div id="sign">
            <div class="user-info-title"><span>邮箱</span></div>
            <div class="user-info-body">
                <span>您的签名:</span><br>
                <span>新的签名</span><input type="text" name="new_sign"><br>
                <button>确认修改</button>
            </div>
        </div>
    </div>

</div>

<div class="footer-short">
    <div class="inner">
      <hr>
      <p>made by <a href="https://github.com/bokunopica/">pyca</a>,more info about <a href="/resume/">him</a>.</p>
    </div>
</div>



</body>
</html>